@font-face {
    font-family: "StandardFont";
    src: url("./montserrat.ttf") format("truetype");
}

@font-face {
    font-family: "SpecialFont";
    src: url("./fragile-bombers.otf") format("truetype");
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

* {
    color: #00aab4;
    background-color: #222;
    font-family: "StandardFont";
    user-select: none;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

#center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gleitzeitkonto {
    font-size: 60px;
    display: inline-block;
}

#lastupdated {
    font-size: 30px;
    display: inline-block;
}

#watermark {
    color: #777;
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 25px;
    font-family: "SpecialFont";
}

#refresh-icon {
    animation-name: rotate;
    animation-duration: 1s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
}

.button {
    background-color: transparent;
    bottom: 0;
    right: 0;
    padding: 2px;
    cursor: pointer;
    position: absolute;
    border: solid #00aab4 2px;
}

.button:not(.disabled):active {
    background-color: #555;
}

.button.disabled {
    opacity: 0.5;
    cursor: default;
    border-color: #000;
}

.button-image {
    width: 25px;
    height: 25px;
    display: block;
    position: relative;
    background-color: transparent;
}
